{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="itemCity">Choose City to transport from</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                            {% include 'tierCheckbox.html.twig' %}
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title"><h3>Profit</h3></div>
            <table class="table table-sm table-bordered sortTable">
                <thead>
                <tr>
                    <th>Tier</th>
                    <th>Name</th>
                    <th>Bm Price</th>
                    <th>City Price</th>
                    <th>Item Profit</th>
                    <th>Profit</th>
                    <th>Percentage</th>
                    <th>TotalCost</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for transportEntity in dataArray %}
                    {% if transportEntity.bmItem.sellOrderPrice != 0 and transportEntity.cityItem.sellOrderPrice != 0 and transportEntity.profit >= 0 %}
                        <tr class="bg-{{ transportEntity.profitGrade }}">
                            <td class="align-middle text-left tier-{{ transportEntity.tierColor }} tier">{{ transportEntity.bmItem.tier }}</td>
                            <td class="align-middle">{{ transportEntity.bmItem.realName }}</td>
                            <td class="align-middle {% if transportEntity.bmItem.sellOrderAge > 720 %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transportEntity.bmItem.sellOrderAge|number_format }}min">{{ transportEntity.bmItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle {% if transportEntity.cityItem.sellOrderAge > 720 %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transportEntity.cityItem.sellOrderAge|number_format }}min">{{ transportEntity.cityItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ transportEntity.singleProfit|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.profit|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.profitPercentage|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.totalCost|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.amount|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}