{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="itemCity">Choose City to transport from</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <label for="weight">Max. Carry Capacity</label>
                                <input class="form-control"
                                       id="weight"
                                       name="weight"
                                       type="number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title"><h3>Profit</h3></div>
            <table class="table table-sm" id="sortTable">
                <thead class="thead-default">
                <tr>
                    <th>Tier</th>
                    <th>Name</th>
                    <th>BlackMarketPrice</th>
                    <th>FS Price</th>
                    <th>FS Weight/Profit</th>
                    <th>Lym Price</th>
                    <th>Lym Weight/Profit</th>
                    <th>Bw Price</th>
                    <th>Bw Weight/Profit</th>
                    <th>Ml Price</th>
                    <th>Ml Weight/Profit</th>
                    <th>Thet Price</th>
                    <th>Thet Weight/Profit</th>
                </tr>
                </thead>
                <tbody>
                {# @var TransportEntity \MZierdt\Albion\Entity\BlackMarketTransportEntity #}
                {% for TransportEntity in dataArray %}
                    <tr>
                        <td class="text-left tier-{{ TransportEntity.tierColor }} tier">{{ TransportEntity.tier }}</td>
                        <td>{{ TransportEntity.realName }}</td>
                        <td>{% if TransportEntity.bmPrice == 0 %} - {% else %} {{ TransportEntity.bmPrice|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.fsColorGrade}}">{% if TransportEntity.fsPrice == 0 %} - {% else %} {{ TransportEntity.fsPrice|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.fsColorGrade}}">{% if TransportEntity.fsWeightProfitQuotient == 0 %} - {% else %} {{ TransportEntity.fsWeightProfitQuotient|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.lymColorGrade}}">{% if TransportEntity.lymPrice == 0 %} - {% else %} {{ TransportEntity.lymPrice|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.lymColorGrade}}">{% if TransportEntity.lymWeightProfitQuotient == 0 %} - {% else %} {{ TransportEntity.lymWeightProfitQuotient|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.bwColorGrade}}">{% if TransportEntity.bwPrice == 0 %} - {% else %} {{ TransportEntity.bwPrice|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.bwColorGrade}}">{% if TransportEntity.bwWeightProfitQuotient == 0 %} - {% else %} {{ TransportEntity.bwWeightProfitQuotient|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.mlColorGrade}}">{% if TransportEntity.mlPrice == 0 %} - {% else %} {{ TransportEntity.mlPrice|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.mlColorGrade}}">{% if TransportEntity.mlWeightProfitQuotient == 0 %} - {% else %} {{ TransportEntity.mlWeightProfitQuotient|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.thetColorGrade}}">{% if TransportEntity.thetPrice == 0 %} - {% else %} {{ TransportEntity.thetPrice|number_format }} {% endif %}</td>
                        <td class="bg-{{TransportEntity.thetColorGrade}}">{% if TransportEntity.thetWeightProfitQuotient == 0 %} - {% else %} {{ TransportEntity.thetWeightProfitQuotient|number_format }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}