{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <form action="/calculate" method="post">
                        <input type="hidden" name="updatePrices" value="1">
                        <button class="btn btn-primary" type="submit" id="updatePrices">update Prices</button>
                    </form>
                </div>
                <div class="col-10">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="itemCity">Choose the City to Craft</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <label for="weight">Max. Carry Capacity</label>
                                <input class="form-control"
                                       id="weight"
                                       name="weight"
                                       type="number">
                            </div>
                            <div class="col-3">
                                <label for="percentage">RRR (Default 24,8%)</label>
                                <input class="form-control"
                                       id="percentage"
                                       max="100"
                                       min="0"
                                       name="rrr"
                                       step="0.1"
                                       type="number">
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="resourceCity">Resurce Location (Default: Choosen City)</label>
                                    <select name="resourceCity" id="resourceCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="" hidden selected>pls select</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                            <div class="col-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="order" id="buyOrder" value="1">
                                    <label class="form-check-label" for="buyOrder">Insta buy Resources</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="order" id="sellOrder" value="2"
                                           checked>
                                    <label class="form-check-label" for="sellOrder">Buy Order Resources</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% for weaponGroupName, weaponGroup in dataArray %}
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">
                    <h3> {{ weaponGroupName }}</h3>
                </div>
                <table class="table table-sm">
                    <thead class="thead-default">
                    <tr>
                        <th>Tier</th>
                        <th>Name</th>
                        <th>Price {{ infoService.getPrimResource(weaponGroupName) }}</th>
                        <th>Price Age</th>
                        <th>Amount {{ infoService.getPrimResource(weaponGroupName) }}</th>
                        <th>Price {{ infoService.getSecResource(weaponGroupName) }}</th>
                        <th>Price Age</th>
                        <th>Amount {{ infoService.getSecResource(weaponGroupName) }}</th>
                        <th>Price</th>
                        <th>Price Age</th>
                        <th>Amount Crafted</th>
                        <th>Amount Books</th>
                        <th>Books Full Price</th>
                        <th>Books Empty Price</th>
                        <th>Profit when rrr: {{ rrr }}</th>
                        <th>Weight Items</th>
                        <th>Weight Resources</th>
                        <th>Profit/Weight</th>
                    </tr>
                    </thead>
                    <tbody class="text-right">
                    {# @var item MZierdt\Albion\Entity\CalculateEntity #}
                    {% for item in weaponGroup %}
                        <tr class="bg-{{ item.colorGrade }} bg-{{ item.getPrice }}">
                            <td class="text-left tier-{{ item.tierColor }} tier">{{ item.tier }}</td>
                            <td>{{ item.realName }}</td>
                            <td>{{ item.primarySellOrderPrice|number_format }}</td>
                            <td {%if item.primaryPriceAge > 720%} class="bg-D" {%endif%}>
                                {{ item.primaryPriceAge|number_format }} min
                            </td>
                            <td>{{ item.primaryResourceAmount }}</td>
                            <td>{{ item.secondarySellOrderPrice|number_format }}</td>
                            <td {%if item.secondaryPriceAge > 720%} class="bg-D" {%endif%}>
                                {{ item.secondaryPriceAge|number_format }} min
                            </td>
                            <td>{{ item.secondaryResourceAmount }}</td>
                            <td>{{ item.itemSellOrderPrice|number_format }}</td>
                            <td {%if item.itemPriceAge > 1440%} class="bg-D" {%endif%}>
                                {{ item.itemPriceAge|number_format }} min
                            </td>
                            <td>{{ item.amount|number_format }}</td>
                            <td>{{ item.amountBooks|round(1,'ceil') }}</td>
                            <td>{{ item.getFullSellOrderPrice|number_format }}</td>
                            <td>{{ item.getEmptySellOrderPrice|number_format }}</td>
                            <td>{{ item.percentageProfit|number_format }}</td>
                            <td>{{ item.totalWeightItems|number_format }}</td>
                            <td>{{ item.totalWeightResources|number_format }}</td>
                            <td>{{ item.weightProfitQuotient|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

