{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <form action="/calculate" method="post">
                        <input type="hidden" name="updatePrices" value="1">
                        <button class="btn btn-primary" type="submit" id="updatePrices">update Prices</button>
                    </form>
                </div>
                <div class="col-5">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="citySelect">Choose the City to Craft</label>
                                    <select name="city" id="citySelect" class="form-control">
                                        <option value="{{ city }}" selected hidden> {{ city }}</option>
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <label for="percentage">RRR</label>
                                <input class="form-control"
                                       id="percentage"
                                       max="100"
                                       min="0"
                                       name="rrr"
                                       placeholder="{{ rrr }}"
                                       step="0.1"
                                       type="number">
                            </div>
                            <div class="col-3">
                                <label for="weight">Max. Carry Capacity</label>
                                <input class="form-control"
                                       id="weight"
                                       name="weight"
                                       placeholder="{{ weight }}"
                                       type="number">
                            </div>
                            <button class="btn btn-primary" type="submit">Calculate</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% for weaponGroupName, weaponGroup in dataArray %}
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-title">
                    <h3> {{ weaponGroupName }}</h3>
                </div>
                <table class="table table-sm table-hover">
                    <thead class="thead-default">
                    <tr>
                        <th>Tier</th>
                        <th>Name</th>
                        <th>Price 1. Resource</th>
                        <th>Amount 1. Resources</th>
                        <th>Price 2. Resource</th>
                        <th>Amount 2. Resources</th>
                        <th>Price</th>
                        <th>Amount Crafted</th>
                        <th>Amount Books</th>
                        <th>Profit depending on selected RRR</th>
                        <th>Weight Resources</th>
                        <th>Weight Items</th>
                        <th>Profit/Weight</th>
                    </tr>
                    </thead>
                    <tbody class="text-right">
                    {# @var item MZierdt\Albion\Entity\CalculateEntity #}
                    {% for item in weaponGroup %}
                        <tr class=bg-{{ item.colorGrade }}>
                            <td class="text-left">{{ item.tier }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.primarySellOrderPrice|number_format }}</td>
                            <td>{{ item.primaryResourceAmount }}</td>
                            <td>{{ item.secondarySellOrderPrice|number_format }}</td>
                            <td>{{ item.secondaryResourceAmount }}</td>
                            <td>{{ item.itemSellOrderPrice|number_format }}</td>
                            <td> {{ item.amount|number_format }}</td>
                            <td> Books</td>
                            <td>{{ item.percentageProfit|number_format }}</td>
                            <td>{{ item.totalWeightItems|number_format }}</td>
                            <td>{{ item.totalWeightResources|number_format }}</td>
                            <td>{{ item.weightProfitQuotient|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

