{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="itemCity">Choose City to transport from</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title"><h3>Profit</h3></div>
            <table class="table table-sm table-bordered sortTable">
                <thead>
                <tr>
                    <th>Tier</th>
                    <th>Name</th>
                    <th>Base ItemPrice</th>
                    <th>Bm Sell Price</th>
                    <th>Material Price</th>
                    <th>Total Material Cost</th>
                    <th>MaterialAmount</th>
                    <th>Profit</th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
                {# @var enchantingEntity \MZierdt\Albion\Entity\EnchantingEntity #}
                {% for enchantingEntity in dataArray %}
                    {% if enchantingEntity.itemEntity.sellOrderPrice != 0 and enchantingEntity.higherEnchantmentItem.sellOrderPrice != 0 and enchantingEntity.enchantmentMaterial.buyOrderPrice !=0  and enchantingEntity.profit >= 0 %}
                        <tr class="bg-{{ enchantingEntity.profitGrade }}">
                            <td class="align-middle text-left tier-{{ enchantingEntity.tierColor }} tier">{{ enchantingEntity.itemEntity.tier }}</td>
                            <td class="align-middle">{{ enchantingEntity.itemEntity.realName }}</td>
                            <td class="align-middle {% if enchantingEntity.itemEntity.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ enchantingEntity.itemEntity.sellOrderDate|date('d.m H:i') }}min">{{ enchantingEntity.itemEntity.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle {% if enchantingEntity.higherEnchantmentItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ enchantingEntity.higherEnchantmentItem.sellOrderDate|date('d.m H:i') }}min">{{ enchantingEntity.higherEnchantmentItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ enchantingEntity.enchantmentMaterial.buyOrderPrice|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.materialCost|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.materialAmount|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.profit|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.profitPercentage|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


