{% extends "layout.html.twig" %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="btn btn-primary" id="toggleSellBuy">Toggle Buy Or SellOrder</div>
                </div>
                <div class="col-8">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="refined">Choose City to transport from</label>
                                    <select name="refined" id="refined" class="form-control">
                                        <option value="Raw Resource">Raw Resource</option>
                                        <option value="Resources">Resource</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3" id="resourceSell">
        <div class="card-body">
            <div class="card-title">
                <h3>Resources SellOrder</h3>
            </div>
            <table class="table table-sm table-bordered sortTable">
                <thead class="thead-default">
                <tr>
                    <th>Tier</th>
                    <th>Name</th>
                    <th>Fort Sterling</th>
                    <th>Lymhurst</th>
                    <th>Bridgewatch</th>
                    <th>Martlock</th>
                    <th>Thetford</th>
                </tr>
                </thead>
                <tbody>
                {# @var listDataEntity  \MZierdt\Albion\Entity\ListDataEntity #}
                {% for listDataEntity in resources %}
                    {% if listDataEntity.lymhurstObject.sellOrderPrice != 0 and listDataEntity.fortSterlingObject.sellOrderPrice != 0 and listDataEntity.bridgewatchObject.sellOrderPrice != 0 and listDataEntity.martlockObject.sellOrderPrice != 0 and listDataEntity.thetfordObject.sellOrderPrice != 0 %}
                        <tr>
                            <td class="tier tier-{{ listDataEntity.tierColor }}">{{ listDataEntity.fortSterlingObject.tier }}</td>
                            <td>{{ listDataEntity.fortSterlingObject.realname }}</td>
                            <td class="{% if listDataEntity.fortSterlingObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.fortSterlingObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.fortSterlingObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.lymhurstObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.lymhurstObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.lymhurstObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.bridgewatchObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.bridgewatchObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.bridgewatchObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.martlockObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.martlockObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.martlockObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.thetfordObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.thetfordObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.thetfordObject.sellOrderPrice|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-3" style="display: none" id="resourceBuy">
        <div class="card-body">
            <div class="card-title">
                <h3>Resources BuyOrder</h3>
            </div>
            <table class="table table-sm table-bordered sortTable">
                <thead class="thead-default">
                <tr>
                    <th>Tier</th>
                    <th>Name</th>
                    <th>Fort Sterling</th>
                    <th>Lymhurst</th>
                    <th>Bridgewatch</th>
                    <th>Martlock</th>
                    <th>Thetford</th>
                </tr>
                </thead>
                <tbody>
                {# @var listDataEntity  \MZierdt\Albion\Entity\ListDataEntity #}
                {% for listDataEntity in resources %}
                    {% if listDataEntity.lymhurstObject.buyOrderPrice != 0 and listDataEntity.fortSterlingObject.buyOrderPrice != 0 and listDataEntity.bridgewatchObject.buyOrderPrice != 0 and listDataEntity.martlockObject.buyOrderPrice != 0 and listDataEntity.thetfordObject.buyOrderPrice != 0 %}
                        <tr>
                            <td class="tier tier-{{ listDataEntity.tierColor }}">{{ listDataEntity.fortSterlingObject.tier }}</td>
                            <td>{{ listDataEntity.fortSterlingObject.realname }}</td>
                            <td class="{% if listDataEntity.fortSterlingObject.city == listDataEntity.cheapestObjectCityBuyOrder %} bg-A {% elseif listDataEntity.fortSterlingObject.city == listDataEntity.mostExpensiveObjectCityBuyOrder %} bg-D {% endif %}">{{ listDataEntity.fortSterlingObject.buyOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.lymhurstObject.city == listDataEntity.cheapestObjectCityBuyOrder %} bg-A {% elseif listDataEntity.lymhurstObject.city == listDataEntity.mostExpensiveObjectCityBuyOrder %} bg-D {% endif %}">{{ listDataEntity.lymhurstObject.buyOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.bridgewatchObject.city == listDataEntity.cheapestObjectCityBuyOrder %} bg-A {% elseif listDataEntity.bridgewatchObject.city == listDataEntity.mostExpensiveObjectCityBuyOrder %} bg-D {% endif %}">{{ listDataEntity.bridgewatchObject.buyOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.martlockObject.city == listDataEntity.cheapestObjectCityBuyOrder %} bg-A {% elseif listDataEntity.martlockObject.city == listDataEntity.mostExpensiveObjectCityBuyOrder %} bg-D {% endif %}">{{ listDataEntity.martlockObject.buyOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.thetfordObject.city == listDataEntity.cheapestObjectCityBuyOrder %} bg-A {% elseif listDataEntity.thetfordObject.city == listDataEntity.mostExpensiveObjectCityBuyOrder %} bg-D {% endif %}">{{ listDataEntity.thetfordObject.buyOrderPrice|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
