{% extends "layout.html.twig" %}

{% block content %}
    {# @var resourceEntity \MZierdt\Albion\Entity\ResourceEntity #}
    {% for city,resources in allCitiesResource %}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Resources in {{ city }}</h3>
                </div>
                <table class="table table-striped table-sm">
                    <thead class="thead-default">
                    <tr>
                        <th>Tier</th>
                        <th>Name</th>
                        <th>sell Order Price</th>
                        <th>sell Order Price Date</th>
                        <th>buy Order Price</th>
                        <th>buy Order Price Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resourceEntity in resources %}
                        <tr>
                            <td>{{ resourceEntity.tier }}</td>
                            <td>{{ resourceEntity.name }}</td>
                            <td>{{ resourceEntity.sellOrderPrice }}</td>
                            <td>{{ resourceEntity.sellOrderPriceDateString }}</td>
                            <td>{{ resourceEntity.buyOrderPrice }}</td>
                            <td>{{ resourceEntity.buyOrderPriceDateString }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    {# @var itemEntity \MZierdt\Albion\Entity\ItemEntity #}
    {% for city,cityItems in allCitiesItems %}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>{{ city }}</h3>
                </div>
                <table class="table table-striped table-sm">
                    <thead class="thead-default">
                    <tr>
                        <th>Tier</th>
                        <th>Name</th>
                        <th>sell Order Price</th>
                        <th>sell Order Price Date</th>
                        <th>buy Order Price</th>
                        <th>buy Order Price Date</th>
                    </tr>
                    </thead>
                    {% for itemEntity in cityItems %}
                        <tr>
                            <td>{{ itemEntity.tier }}</td>
                            <td>{{ itemEntity.name }}</td>
                            <td>{{ itemEntity.sellOrderPrice }}</td>
                            <td>{{ itemEntity.sellOrderPriceDateString }}</td>
                            <td>{{ itemEntity.buyOrderPrice }}</td>
                            <td>{{ itemEntity.buyOrderPriceDateString }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}
