{% extends "layout.html.twig" %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title">
                <h3>Resources in {{ city }}</h3>
            </div>
            <table class="table table-sm table-bordered" id="sortTable">
                <thead class="thead-default">
                <tr>
                    <th>Tier</th>
                    <th>Name</th>
                    <th>Fort Sterling</th>
                    <th>Lymhurst</th>
                    <th>Bridgewatch</th>
                    <th>Martlock</th>
                    <th>Thetford</th>
                </tr>
                </thead>
                <tbody>
                {# @var listDataEntity  \MZierdt\Albion\Entity\ListDataEntity #}
                {% for listDataEntity in items %}
                    {% if listDataEntity.lymhurstObject.sellOrderPrice != 0 and listDataEntity.fortSterlingObject.sellOrderPrice != 0 and listDataEntity.bridgewatchObject.sellOrderPrice != 0 and listDataEntity.martlockObject.sellOrderPrice != 0 and listDataEntity.thetfordObject.sellOrderPrice != 0 %}
                        <tr>
                            <td class="tier tier-{{ listDataEntity.tierColor }}">{{ listDataEntity.fortSterlingObject.tier }}</td>
                            <td>{{ listDataEntity.fortSterlingObject.realname }}</td>
                            <td class="{% if listDataEntity.fortSterlingObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.fortSterlingObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.fortSterlingObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.lymhurstObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.lymhurstObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.lymhurstObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.bridgewatchObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.bridgewatchObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.bridgewatchObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.martlockObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.martlockObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.martlockObject.sellOrderPrice|number_format }}</td>
                            <td class="{% if listDataEntity.thetfordObject.city == listDataEntity.cheapestObjectCitySellOrder %} bg-A {% elseif listDataEntity.thetfordObject.city == listDataEntity.mostExpensiveObjectCitySellOrder %} bg-D {% endif %}">{{ listDataEntity.thetfordObject.sellOrderPrice|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
