{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <form action="" method="get">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="city">Choose City to transport from</label>
                            <select name="city" id="city" class="form-control">
                                <option value="Fort Sterling">Fort Sterling</option>
                                <option value="Lymhurst">Lymhurst</option>
                                <option value="Bridgewatch">Bridgewatch</option>
                                <option value="Martlock">Martlock</option>
                                <option value="Thetford">Thetford</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-primary" type="submit">Calculate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% if alertMessage is not null %}
            <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
        {% endif %}
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title"><h3>Profit</h3></div>
            <table class="table table-sm table-bordered" id="sortTable">
                <thead>
                <tr>
                    <th>StartTier</th>
                    <th>EndTierPath</th>
                    <th>Typ</th>
                    <th>Profit</th>
                    <th>Start Resource</th>
                    <th>End Resource</th>
                    <th>TransmuteCost</th>
                </tr>
                </thead>
                <tbody>
                {# @var transmutationEntity \MZierdt\Albion\Entity\TransmutationEntity #}
                {% for transmutationEntity in dataArray %}
                    {% if transmutationEntity.profit >0 %}
                        <tr class="bg-{{ transmutationEntity.profitGrade }}">
                            <td class="align-middle text-left tier tier-{{ transmutationEntity.startTierColor }}"> {{ transmutationEntity.startResource.tier }}</td>
                            <td class="align-middle text-left tier tier-{{ transmutationEntity.endTierColor }}"> {{ transmutationEntity.endResource.tier }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.resourceType }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.profit|number_format }}</td>
                            <td class="align-middle {% if transmutationEntity.startResource.sellOrderAge > 720 %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transmutationEntity.startResource.sellOrderAge|number_format }}min">
                                    {{ transmutationEntity.startResource.sellOrderPrice|number_format }}
                                </a>
                            </td>
                            <td class="align-middle {% if transmutationEntity.endResource.sellOrderAge > 720 %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transmutationEntity.endResource.sellOrderAge|number_format }}min">
                                    {{ transmutationEntity.endResource.sellOrderPrice|number_format }}
                                </a>
                            </td>
                            <td class="align-middle text-right"> {{ transmutationEntity.transmutePrice|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


